<div>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column">
        <div class="row my-auto" id="contact"> 
          <div class="col-md-8">
            <div class="contact-cont">
              <h3>contact us</h3>
              <div class="heading-border-light"></div>
              <p>Feel Free to Contact me</p>
            </div>   
            <div class="row con-form">
              <div class="col-md-12">
                <input type="text" name="full-name" placeholder="Full Name" class="form-control">
              </div>
              <div class="col-md-12">
                <input type="text" name="email" placeholder="Email Id" class="form-control">
              </div>
              <div class="col-md-12">
                <input type="text" name="subject" placeholder="Subject" class="form-control">
              </div>
              <div class="col-md-12"><textarea name="" id=""></textarea></div>
              <div class="col-md-12 sub-but"><button class="btn btn-general btn-white" role="button">Send</button></div>
            </div>
          </div>
         
         
         
         
         
          <div class="col-md-4 col-sm-12 mt-5"> 
            <div class=""> 
              <div >
                <h3> Address</h3>
                <p>Sr.No 48/2, 
                  Dhanlaxmi Society,ganesh-nagar,
                  wadgaonsheri ,pune, maharashtra.
                  pincode-411014.
                  -<br>
                Maharastra , INDIA <br></p>
              </div>
              <div >
                <h3>Phone</h3>
                <p>9623985856 <br>9579621392</p>
              </div>
              <div class="contact-mail contact-side-desc contact-box-desc">
                <h3> Email</h3>
              <address> 
                
                Email: <a href="vickydongare20@gmail.com" class="">vickydongare20@gmail.com</a>
              </address>
             
              </div>
            </div>
          </div> 
        </div>
    </section>


   

</div>