
<div class="navbar navbar-expand-lg navbar-dark bg-info  mt-auto navbar-fixed-bottom">

    <section class="resume-section p-3 p-lg-5 d-flex flex-column">
        <div class="row my-auto" id="contact"> 
          <div class="col-md-12">
            <div >
                <h3> Address</h3>
                <p>Ness Technologies (India) Pvt. Ltd.
                    No. 33, 6th Block,
                    17th H Main Road
                    Koramangala,
                    Bangalore, Karnataka, 560095
                 </p>
              </div>
           
          </div> 
        </div>
    </section>
</div>