<div>
    
    
 
       

                <div  class="" >
                    <div style="background-color: rgba(180, 203, 238, 0.795);" class="row">
                        <div style="padding: 20px;text-align: center;
                        display: inline-block;" class="col-lg-4">
                            <img style="padding: 20px;text-align: center;
                            display: inline-block;  border-radius: 25px;
  background: #3e5e79;
  padding: 20px;
  width: 300px;
  height: 400px;  " src="assets/img/profile.jpg" width="300px" alt=""> 

                        </div>
                        <div class="col-lg-8">
                            <div class="my-auto" >
                                <img src="assets/img/n.png" alt=""> 
                               <h1 class="mb-0">Hii! <br />
                                 <span class="text-primary">I'm Vicky</span>
                               </h1><br>
                               <div class="subheading mb-5">SOFTWARE ENGINEER AT NESS TECHNOLOGIES <br> INDIA.PVT.LTD.
                                   <a href="https://www.ness.com/">NESS</a>
                            
                        </div>
                    </div>
                </div>
          
    
</div>