<div class="container mt-5">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <table class="table table-striped">
            <thead>
                <tr class="bg-info text-light">
                    <td>Username</td>
                    <td>Firstname</td>
                    <td>Lastname</td>
                    <td>Designation</td>
                    <td>Address</td>
                    <td>Age</td>
                    <td>Remove Employee</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor= "let emp of employee">
                    <td>{{emp.username}}</td>
                    <td>{{emp.firstname}}</td>
                    <td>{{emp.lastname}}</td>
                    <td>{{emp.designation}}</td>
                    <td>{{emp.address}}</td>
                    <td>{{emp.age}}</td>
                    <td><button class=" btn btn-danger" (click)="removeEmployee(emp.username)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
